# dbt build artifacts
target/
dbt_packages/
logs/

# Local secrets & env
.secrets/
.env
*.env

# OS cruft
.DS_Store
Thumbs.db
*.log

# Default .gitignore content added by dbt Cloud# you shouldn't commit these into source control
# these are the default directory names, adjust/add to fit your needs
target/
dbt_packages/
logs/
# end dbt Cloud content
